body { 
    background-color: rgb(238, 238, 238);
    font-family: sans-serif;
    margin-left: 50px;
}
img {
    width: 400px;
    border: solid 10px white;
    box-shadow: 5px 5px 20px gray;
}
h1 {
    color: white;
    text-shadow: 0px 0px 8px black;
    font-size: 30pt;
}
button {
    width: 100px;
    height: 30px;
    background-color: white;
    border: solid 2px blue;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 4px 10px gray;
}
button:hover {
    color: white;
    background-color: lightgray;
}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

h1.dotted {border-style: dotted;}
h1.dashed {border-style: dashed;}
h1.solid {border-style: solid;}
h1.double {border-style: double;}
h1.groove {border-style: groove;}
h1.ridge {border-style: ridge;}
h1.inset {border-style: inset;}
h1.outset {border-style: outset;}
h1.none {border-style: none;}
h1.hidden {border-style: hidden;}
h1.mix {border-style: dotted dashed solid double;}

p.side {
    border-left: 6px solid red;
    background-color: lightgrey;
  }

h2.side {
    border-left: 6px solid red;
    background-color: lightgrey;
  }

  

h2.dotted {border-style: dotted;}
h2.dashed {border-style: dashed;}
h2.solid {border-style: solid;}
h2.double {border-style: double;}
h2.groove {border-style: groove;}
h2.ridge {border-style: ridge;}
h2.inset {border-style: inset;}
h2.outset {border-style: outset;}
h2.none {border-style: none;}
h2.hidden {border-style: hidden;}
h2.mix {border-style: dotted dashed solid double;}